CE2 Python

# Atividades avaliativas:
- Exercícios individuais

# Trabalho¹ em grupo (~ 3 pessoas):
- Tema único

# Trabalho² em grupo (~ 3 pessoas):
- Tema livre

# Bibliotecas: Base; Pandas; Numpy

# Bibliografia:
Pratical Statistics for Data Scientists

In [1]:
import pandas as pd
import numpy as np
# import polars as pl

$$\mu = \sum_{i=1}^n\frac{x_i}{n}$$

In [5]:
print(2+2)

4

In [7]:
2+2
3+3

6

In [9]:
print(2+2)
3+3

4

6

In [11]:
print(2+2)
print(3+3)

4
6

In [13]:
resultado = 2+2

In [25]:
lista1 = [10,2,4,6]

In [27]:
lista1 + 100

TypeError: can only concatenate list (not "int") to list

In [28]:
lista1

[10, 2, 4, 6]

In [30]:
lista1[0]

10

In [31]:
lista1[-1]

6

In [33]:
lista2 = [10,20,30,20]

In [35]:
lista2

[10, 20, 30, 20]

In [37]:
set(lista2)

{10, 20, 30}

In [39]:
lista2

[10, 20, 30, 20]

In [48]:
conjunto = set(lista2)

In [49]:
conjunto

{10, 20, 30}

In [50]:
conjunto3 = {2,20,500}

In [51]:
conjunto & conjunto3

{20}

In [53]:
conjunto.intersection(conjunto3)

{20}

# Aula 2

## Exercícios:

#### Questão 1
Utilizando os conceitos vistos na aula de hoje crie funções para encontrar os seguintes elementos a partir de uma lista:

* Média
* Mínimo
* Máximo
* Mediana
* Desvio padrão
* Número de elementos menores que a média
* Vetor dos elementos maiores que a média

Aplique as funções no seguinte vetor de valores gerados aleatoriamente

In [2]:
import random
random.seed(12345)
x1 = random.choices(range(2000),k=30)

In [11]:
def media(x):
    return sum(x)/len(x)

def minimo(x):
    return min(x)

def maximo(x):
    return max(x)

def mediana(x):
    x.sort()
    return x[len(x)//2]

import math

def sd(x):
    m = media(x)
    return math.sqrt(sum([(i-m)**2 for i in x])/len(x))

def menor_media(x):
    m = media(x)
    return len([i for i in x if i < m])

def maior_media(x):
    m = media(x)
    return [i for i in x if i > m]

In [4]:
media(x1)

891.7

In [5]:
minimo(x1)

6

In [6]:
maximo(x1)

1957

In [7]:
mediana(x1)

824

In [12]:
sd(x1)

624.2717437142257

In [179]:
menor_media(x1)

18

In [180]:
maior_media(x1)

[1007, 1106, 1124, 1132, 1437, 1489, 1650, 1880, 1916, 1934, 1957, 1957]

In [148]:
sorted(x1) # temporário

[6,
 20,
 47,
 182,
 248,
 296,
 323,
 348,
 379,
 387,
 597,
 679,
 683,
 709,
 736,
 824,
 833,
 865,
 1007,
 1106,
 1124,
 1132,
 1437,
 1489,
 1650,
 1880,
 1916,
 1934,
 1957,
 1957]

In [149]:
x1.sort()  # permanente

In [150]:
x1

[6,
 20,
 47,
 182,
 248,
 296,
 323,
 348,
 379,
 387,
 597,
 679,
 683,
 709,
 736,
 824,
 833,
 865,
 1007,
 1106,
 1124,
 1132,
 1437,
 1489,
 1650,
 1880,
 1916,
 1934,
 1957,
 1957]

## Questão 2 
Construa uma função que receba uma determinada string e retorne a contagem do número de ocorrências de cada uma das letras encontradas
Aplique sua função no texto do comando dessa questão

In [14]:
def conta_letras(texto):
    return {i:texto.count(i) for i in texto}

texto = "Construa uma função que receba uma determinada string e retorne a contagem do número de ocorrências de cada uma das letras encontradas \n Aplique sua função no texto do comando dessa questão"

In [15]:
conta_letras(texto)

{'C': 1,
 'o': 16,
 'n': 13,
 's': 10,
 't': 10,
 'r': 11,
 'u': 10,
 'a': 19,
 ' ': 31,
 'm': 7,
 'f': 2,
 'ç': 2,
 'ã': 3,
 'q': 3,
 'e': 18,
 'c': 7,
 'b': 1,
 'd': 11,
 'i': 4,
 'g': 2,
 'ú': 1,
 'ê': 1,
 'l': 2,
 '\n': 1,
 'A': 1,
 'p': 1,
 'x': 1}

## Questão 3
Construa uma função que calcula a soma acumulada dos elementos em uma lista (Tente usar compreensão de listas)
Aplique sua função sobre os números de ocorrências das letras encontradas no item anterior

## Questão 4
Construa uma função que calcula frequências relativas dos números de ocorrências das letras em um texto.
Aplique sua função sobre

------------------------------------------------------------------------------------------------------------------------------------------------

In [39]:
pares = [2,4,6,8,10]
pares

[2, 4, 6, 8, 10]

In [40]:
pares.append(12)
pares

[2, 4, 6, 8, 10, 12]

In [41]:
pares.pop()
pares

[2, 4, 6, 8, 10]

In [42]:
pares.pop(1)
pares

[2, 6, 8, 10]

In [43]:
pares.insert(1,4)
pares

[2, 4, 6, 8, 10]

In [44]:
ultimo = pares.pop()
ultimo

10

In [45]:
pares.remove(6)
pares

[2, 4, 8]

In [46]:
resultado = pares.remove(4)
resultado

In [47]:
print(resultado)
print(pares)

None
[2, 8]

In [48]:
novo = [1,3,2,3,3,5]
novo.remove(3)
novo

[1, 2, 3, 3, 5]

In [49]:
len(novo)

5

In [51]:
novo[3] = 4

In [53]:
novo

[1, 2, 3, 4, 5]

In [54]:
tupla1 = (1,2,3,4)
tupla1

(1, 2, 3, 4)

In [55]:
tupla1[1] = 1000

TypeError: 'tuple' object does not support item assignment

In [57]:
pessoal = {
    "nome":"ana",
    "idade" : 21
    }
pessoal

{'nome': 'ana', 'idade': 21}

In [59]:
pessoal['nome']

'ana'

In [61]:
pessoal['idade']

21

In [63]:
pessoal['naturalidade']

KeyError: 'naturalidade'

In [65]:
pessoal['naturalidade'] = 'brasileira'
pessoal

{'nome': 'ana', 'idade': 21, 'naturalidade': 'brasileira'}

In [67]:
pessoal.keys()

dict_keys(['nome', 'idade', 'naturalidade'])

In [70]:
pessoal.keys()[1]

TypeError: 'dict_keys' object is not subscriptable

In [72]:
list(pessoal.keys())[1]

'idade'

In [74]:
pessoal.values()[2]

TypeError: 'dict_values' object is not subscriptable

In [76]:
lista_misturada = ["ana",21,True,{"sexo":"feminino","peso":168},[1,2,3]]

In [77]:
lista_misturada

['ana', 21, True, {'sexo': 'feminino', 'peso': 168}, [1, 2, 3]]

In [80]:
dic1 = {"dicionario":{"nome":'beto','renda_meses':[20,30,40]}}
dic1

{'dicionario': {'nome': 'beto', 'renda_meses': [20, 30, 40]}}

In [90]:
nome = "Universidade"
nome

'Universidade'

In [84]:
nome[-1]

'e'

In [86]:
nome[0]

'U'

In [91]:
nome = nome + " de Brasília"

In [92]:
nome

'Universidade de Brasília'

In [93]:
import math

In [95]:
math.pi

3.141592653589793

In [98]:
print(f'{math.pi:.3f}')

3.142

In [103]:
pares = [2,4,6,8,10]
for i in pares:
    print(f"o valor é: {i}")

o valor é: 2
o valor é: 4
o valor é: 6
o valor é: 8
o valor é: 10

In [104]:
for i in pares:
    print("o valor é: ",i)

o valor é:  2
o valor é:  4
o valor é:  6
o valor é:  8
o valor é:  10

In [106]:
impares = []
for i in pares:
    impares.append(i+1)
impares

[3, 5, 7, 9, 11]

In [107]:
impares2 = [i-1 for i in pares]
impares2

[1, 3, 5, 7, 9]

In [109]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [111]:
pares2 = list(range(0,20,2))
pares2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [113]:
i = 10
while i > 5:
    print(i)
    i = i - 1

10
9
8
7
6

In [115]:
i = 10
if i > 20:
    print("é maior")
elif i == 20:
    print("é igual")
else:
    print("é menor")

é menor

In [116]:
def soma2(x):
    print(x+2)

In [117]:
soma2(1000)

1002

In [118]:
resultado = soma2(1000)
print(resultado)

1002
None

In [119]:
def potencia(base,expoente):
    return base ** expoente

In [120]:
potencia(2,3)

8

In [127]:
potencia(base=4,expoente=10)

1048576

In [128]:
potencia(expoente=10,base=4)

1048576

In [130]:
potencia(expoente=3,2)

SyntaxError: positional argument follows keyword argument (4007655120.py, line 1)

In [132]:
potencia(10,expoente=3)

1000

In [133]:
def potencia1(base,expoente=2):
    return base ** expoente

In [135]:
potencia1(5)

25

In [136]:
potencia1(5,3)

125

In [139]:
def media2(x,y):
    z = x + y
    return z/2

In [140]:
media2(10,20)

15.0