In [ ]:
import random
random.seed(12345)
valores = random.choices(range(2000),k = 30)
import numpy as np

In [ ]:
nome = "eduardo"
def media(x):
    soma = 0
    for i in x:
        soma = soma + i
    return soma/len(x)

In [ ]:
media(valores,nome)

eduardo

891.7

In [ ]:
def minimo(x):
    final = x[0]
    for i in x[1:]:
        if final > i:
            final = i
    return final

In [ ]:
minimo(valores)

6

In [ ]:
def maximo(x):
    return sorted(x)[-1]

In [ ]:
maximo(valores)

1957

In [ ]:
def media2(x):
    soma = 0
    for i in range(len(x)):
        soma += x[i]
    return soma/len(x)

In [ ]:
media2(valores)

891.7

In [ ]:
def mediana(x):
    n = len(x)
    x.sort()
    if n % 2 == 0:
        return (x[int(n/2)] + x[int(n/2)-1])/2
    return x[np.floor(n/2)]

In [ ]:
mediana(valores)

780.0

In [ ]:
5 % 2

1

In [ ]:
5 // 2

2

In [ ]:
int(1/3)

0

In [ ]:
int(2/3)

0

In [ ]:
def desvpad(x):
    mu = media(x)
    desvios_quad = [(i - mu)**2 for i in x]
    return media(desvios_quad) ** (1/2)
desvpad(valores)

624.2717437142257

In [ ]:
def conta_menores(x):
    mu = media(x)
    return len([i for i in x if i < mu])

In [ ]:
conta_menores(valores)

18

In [ ]:
def encontra_maiores(x):
    mu = media(x)
    return [i for i in x if i > mu]

In [ ]:
encontra_maiores(valores)

[1007, 1106, 1124, 1132, 1437, 1489, 1650, 1880, 1916, 1934, 1957, 1957]

In [ ]:
def conta_letras(texto):
    dicionario = {}
    for i in texto:
        if dicionario.get(i):
            dicionario[i] += 1
        else:
            dicionario[i] = 1
    return dicionario
comando = "Construa uma função que receba uma determinada string e retorne a contagem do número de ocorrências de cada uma das letras encontradas"
contagem = conta_letras(comando)

In [ ]:
contagem.get("a")

16

In [ ]:
print((a := 100))

100

In [ ]:
def soma_acumulada(x):
    soma = 0
    return [(soma:=soma + i) for i in x]
soma_acumulada([1,2,3,4])

[1, 3, 6, 10]

In [ ]:
def soma_acumulada2(x):
    resultado = []
    resultado.append(x[0])
    for i in range(1,len(x)):
        resultado.append(x[i]+resultado[i-1])
    return resultado
soma_acumulada2([1,2,3,4])

[1, 3, 6, 10]

In [ ]:
def freq_letras(texto):
    n = len(texto)
    dicionario = {}
    contagem = conta_letras(texto)
    for chave in contagem.keys():
        dicionario[chave] = contagem[chave]/n
    return dicionario
freq_letras(comando)

{'C': 0.007462686567164179,
 'o': 0.06716417910447761,
 'n': 0.07462686567164178,
 's': 0.04477611940298507,
 't': 0.05223880597014925,
 'r': 0.08208955223880597,
 'u': 0.04477611940298507,
 'a': 0.11940298507462686,
 ' ': 0.15671641791044777,
 'm': 0.04477611940298507,
 'f': 0.007462686567164179,
 'ç': 0.007462686567164179,
 'ã': 0.007462686567164179,
 'q': 0.007462686567164179,
 'e': 0.1044776119402985,
 'c': 0.04477611940298507,
 'b': 0.007462686567164179,
 'd': 0.05970149253731343,
 'i': 0.022388059701492536,
 'g': 0.014925373134328358,
 'ú': 0.007462686567164179,
 'ê': 0.007462686567164179,
 'l': 0.007462686567164179}

In [ ]:
import pandas as pd

In [ ]:
lista1 = [1,2,3,4]
lista1 + 1000

TypeError: can only concatenate list (not "int") to list

In [ ]:
pd.Series(lista1) + 1000

0    1001
1    1002
2    1003
3    1004
dtype: int64

In [ ]:
pd.Series(lista1) + pd.Series([10,20,30,40])

0    11
1    22
2    33
3    44
dtype: int64

In [ ]:
pd.Series(lista1) + pd.Series([10,20])

0    11.0
1    22.0
2     NaN
3     NaN
dtype: float64

In [ ]:
alunos = [ {"nome":"ana","idade":10,"curso":"pintura"},
          {"nome":"bia","idade":20,"curso":"espanhol"},
          {"nome":"carol","idade":3, "curso":"estatística"}]

In [ ]:
dados = pd.DataFrame(alunos)
dados

    nome  idade        curso
0    ana     10      pintura
1    bia     20     espanhol
2  carol      3  estatística

In [ ]:
dados.curso

0        pintura
1       espanhol
2    estatística
Name: curso, dtype: object

In [ ]:
dados.idade[0] + 100

110

In [ ]:
dados['curso']

0        pintura
1       espanhol
2    estatística
Name: curso, dtype: object

In [ ]:
dados[['nome','idade']]

    nome  idade
0    ana     10
1    bia     20
2  carol     30

In [ ]:
dados[[True,False,True]]

    nome  idade        curso
0    ana     10      pintura
2  carol     30  estatística

In [ ]:
dados.idade < 25

0     True
1     True
2    False
Name: idade, dtype: bool

In [ ]:
dados[dados.idade < 15]['nome']

0      ana
2    carol
Name: nome, dtype: object

In [ ]:
dados.iloc[0:2,1]

0    10
1    20
Name: idade, dtype: int64

In [ ]:
dados

    nome  idade        curso
0    ana     10      pintura
1    bia     20     espanhol
2  carol      3  estatística

In [ ]:
dados.loc[1,["nome",'idade']]

nome     bia
idade     20
Name: 1, dtype: object

In [ ]:
dados.loc[[True,True,False],['nome','idade']]

  nome  idade
0  ana     10
1  bia     20

In [ ]:
dados.iloc[0,1] = 1000

In [ ]:
dados

    nome  idade        curso
0    ana   1000      pintura
1    bia     20     espanhol
2  carol      3  estatística

In [ ]:
aneel = pd.read_csv("https://raw.githubusercontent.com/edunb01/dotfiles/master/TarifaFornecimentoResidencial.csv",
                   encoding="ISO8859_9")

In [ ]:
aneel['SigRegiao'].unique()

array(['N ', 'S ', 'NE', 'CO', 'SE'], dtype=object)