In [32]:
import random
random.seed(12345)
valores = random.choices(range(2000),k = 30)
import numpy as np

In [48]:
nome = "eduardo"
def media(x):
    soma = 0
    for i in x:
        soma = soma + i
    return soma/len(x)

In [49]:
media(valores)

891.7

In [35]:
def minimo(x):
    final = x[0]
    for i in x[1:]:
        if final > i:
            final = i
    return final

In [36]:
minimo(valores)

6

In [37]:
def maximo(x):
    return sorted(x)[-1]

In [38]:
maximo(valores)

1957

In [39]:
def media2(x):
    soma = 0
    for i in range(len(x)):
        soma += x[i]
    return soma/len(x)

In [40]:
media2(valores)

891.7

In [41]:
def mediana(x):
    n = len(x)
    x.sort()
    if n % 2 == 0:
        return (x[int(n/2)] + x[int(n/2)-1])/2
    return x[np.floor(n/2)]

In [42]:
mediana(valores)

780.0

In [43]:
5 % 2

1

In [44]:
5 // 2

2

In [45]:
int(1/3)

0

In [46]:
int(2/3)

0

In [50]:
def desvpad(x):
    mu = media(x)
    desvios_quad = [(i - mu)**2 for i in x]
    return media(desvios_quad) ** (1/2)
desvpad(valores)

624.2717437142257

In [51]:
def conta_menores(x):
    mu = media(x)
    return len([i for i in x if i < mu])

In [52]:
conta_menores(valores)

18

In [53]:
def encontra_maiores(x):
    mu = media(x)
    return [i for i in x if i > mu]

In [54]:
encontra_maiores(valores)

[1007, 1106, 1124, 1132, 1437, 1489, 1650, 1880, 1916, 1934, 1957, 1957]

In [55]:
def conta_letras(texto):
    dicionario = {}
    for i in texto:
        if dicionario.get(i):
            dicionario[i] += 1
        else:
            dicionario[i] = 1
    return dicionario
comando = "Construa uma função que receba uma determinada string e retorne a contagem do número de ocorrências de cada uma das letras encontradas"
contagem = conta_letras(comando)

In [56]:
contagem.get("a")

16

In [57]:
print((a := 100))

100

In [74]:
def soma_acumulada(x):
    soma = 0
    return [(soma:=soma + i) for i in x]
soma_acumulada([1,2,3,4])

[1, 3, 6, 10]

In [59]:
def soma_acumulada2(x):
    resultado = []
    resultado.append(x[0])
    for i in range(1,len(x)):
        resultado.append(x[i]+resultado[i-1])
    return resultado
soma_acumulada2([1,2,3,4])

[1, 3, 6, 10]

In [60]:
def freq_letras(texto):
    n = len(texto)
    dicionario = {}
    contagem = conta_letras(texto)
    for chave in contagem.keys():
        dicionario[chave] = contagem[chave]/n
    return dicionario
freq_letras(comando)

{'C': 0.007462686567164179,
 'o': 0.06716417910447761,
 'n': 0.07462686567164178,
 's': 0.04477611940298507,
 't': 0.05223880597014925,
 'r': 0.08208955223880597,
 'u': 0.04477611940298507,
 'a': 0.11940298507462686,
 ' ': 0.15671641791044777,
 'm': 0.04477611940298507,
 'f': 0.007462686567164179,
 'ç': 0.007462686567164179,
 'ã': 0.007462686567164179,
 'q': 0.007462686567164179,
 'e': 0.1044776119402985,
 'c': 0.04477611940298507,
 'b': 0.007462686567164179,
 'd': 0.05970149253731343,
 'i': 0.022388059701492536,
 'g': 0.014925373134328358,
 'ú': 0.007462686567164179,
 'ê': 0.007462686567164179,
 'l': 0.007462686567164179}

In [61]:
import pandas as pd

In [62]:
lista1 = [1,2,3,4]
lista1 + 1000

TypeError: can only concatenate list (not "int") to list

In [63]:
pd.Series(lista1) + 1000

0    1001
1    1002
2    1003
3    1004
dtype: int64

In [65]:
pd.Series(lista1) + pd.Series([10,20,30,40])

0    11
1    22
2    33
3    44
dtype: int64

In [66]:
pd.Series(lista1) + pd.Series([10,20])

0    11.0
1    22.0
2     NaN
3     NaN
dtype: float64

In [75]:
alunos = [
{"nome":"ana","idade":10,"curso":"pintura"},
{"nome":"bia","idade":20,"curso":"espanhol"},
{"nome":"carol","idade":3, "curso":"estatística"}
]

In [76]:
dados = pd.DataFrame(alunos)
dados

    nome  idade        curso
0    ana     10      pintura
1    bia     20     espanhol
2  carol      3  estatística

In [77]:
dados.curso

0        pintura
1       espanhol
2    estatística
Name: curso, dtype: object

In [78]:
dados.idade[0] + 100

110

In [71]:
dados['curso']

0        pintura
1       espanhol
2    estatística
Name: curso, dtype: object

In [72]:
dados[['nome','idade']]

    nome  idade
0    ana     10
1    bia     20
2  carol      3

In [79]:
dados[[True,False,True]]

    nome  idade        curso
0    ana     10      pintura
2  carol      3  estatística

In [80]:
dados.idade < 25

0    True
1    True
2    True
Name: idade, dtype: bool

In [81]:
dados[dados.idade < 15]['nome']

0      ana
2    carol
Name: nome, dtype: object

In [82]:
dados.iloc[0:2,1]

0    10
1    20
Name: idade, dtype: int64

In [83]:
dados

    nome  idade        curso
0    ana     10      pintura
1    bia     20     espanhol
2  carol      3  estatística

In [84]:
dados.loc[1,["nome",'idade']]

nome     bia
idade     20
Name: 1, dtype: object

In [85]:
dados.loc[[True,True,False],['nome','idade']]

  nome  idade
0  ana     10
1  bia     20

In [87]:
dados.iloc[0,1] = 1000

In [89]:
dados

    nome  idade        curso
0    ana   1000      pintura
1    bia     20     espanhol
2  carol      3  estatística

In [90]:
aneel = pd.read_csv("https://raw.githubusercontent.com/edunb01/dotfiles/master/TarifaFornecimentoResidencial.csv",
                   encoding="ISO8859_9")

In [92]:
aneel

,ideTarifaFornecimento,nomConcessao,SigDistribuidora,SigRegiao,VlrTUSDConvencional,VlrTEConvencional,VlrTotaTRFConvencional,VlrTRFBrancaPonta,VlrTRFBrancaIntermediaria,VlrTRFBrancaForaPonta,NumResolucao,DthInicioVigencia,DthProcessamento
0,315,Concessionária,AmE,N,0.41472,0.29134,0.70606,1.25504,0.84700,0.61792,2478/2018,01/11/2018 00:00:00,26/07/2019 00:00:00
1,316,Concessionária,Boa Vista,N,0.32810,0.30652,0.63462,1.25491,0.78768,0.52678,2479/2018,01/11/2018 00:00:00,26/07/2019 00:00:00
2,317,Permissionária,CASTRO - DIS,S,0.16845,0.16256,0.33101,0.53660,0.41108,0.28557,2477/2018,01/07/2018 00:00:00,26/07/2019 00:00:00
3,318,Concessionária,CEA,N,0.40338,0.16300,0.56638,1.23492,0.79378,0.46930,2495/2018,01/11/2018 00:00:00,26/07/2019 00:00:00
4,319,Concessionária,Ceal,NE,0.30413,0.23112,0.53525,1.12359,0.71562,0.45231,2540/2019,01/05/2019 00:00:00,26/07/2019 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,414,Concessionária,MuxEnergia,S,0.28090,0.20432,0.48522,0.88900,0.56734,0.37386,2571/2019,01/07/2019 00:00:00,26/07/2019 00:00:00
100,415,Concessionária,RGE,S,0.29026,0.27001,0.56027,0.99421,0.63862,0.45351,2557/2019,01/06/2019 00:00:00,26/07/2019 00:00:00
101,416,Concessionária,Sul Sudeste,SE,0.25299,0.24436,0.49735,0.89097,0.57105,0.40964,2570/2019,01/07/2019 00:00:00,26/07/2019 00:00:00
102,417,Concessionária,Sulgipe,NE,0.37035,0.26596,0.63631,1.33785,0.83393,0.50172,2546/2019,01/05/2019 00:00:00,26/07/2019 00:00:00
103,418,Concessionária,Uhenpal,S,0.34919,0.22330,0.57249,1.13015,0.71862,0.44416,2547/2019,01/05/2019 00:00:00,26/07/2019 00:00:00

In [91]:
aneel['SigRegiao'].unique()

array(['N ', 'S ', 'NE', 'CO', 'SE'], dtype=object)