CE2 Python

# Atividades avaliativas:
- Exercícios individuais

# Trabalho¹ em grupo (~ 3 pessoas):
- Tema único

# Trabalho² em grupo (~ 3 pessoas):
- Tema livre

# Bibliotecas: Base; Pandas; Numpy

# Bibliografia:
Pratical Statistics for Data Scientists

In [1]:
import pandas as pd
import numpy as np
# import polars as pl

$$\mu = \sum_{i=1}^n\frac{x_i}{n}$$

In [5]:
print(2+2)

4

In [7]:
2+2
3+3

6

In [9]:
print(2+2)
3+3

4

6

In [11]:
print(2+2)
print(3+3)

4
6

In [13]:
resultado = 2+2

In [25]:
lista1 = [10,2,4,6]

In [27]:
lista1 + 100

TypeError: can only concatenate list (not "int") to list

In [28]:
lista1

[10, 2, 4, 6]

In [30]:
lista1[0]

10

In [31]:
lista1[-1]

6

In [33]:
lista2 = [10,20,30,20]

In [35]:
lista2

[10, 20, 30, 20]

In [37]:
set(lista2)

{10, 20, 30}

In [39]:
lista2

[10, 20, 30, 20]

In [48]:
conjunto = set(lista2)

In [49]:
conjunto

{10, 20, 30}

In [50]:
conjunto3 = {2,20,500}

In [51]:
conjunto & conjunto3

{20}

In [53]:
conjunto.intersection(conjunto3)

{20}