In [5]:
import pandas as pd
import numpy as np

In [6]:
costumers = pd.read_csv('https://raw.githubusercontent.com/edunb01/dotfiles/master/olist_customers_dataset.csv')
itens = pd.read_csv('https://raw.githubusercontent.com/edunb01/dotfiles/master/olist_order_items_dataset.csv')
payments = pd.read_csv('https://raw.githubusercontent.com/edunb01/dotfiles/master/olist_order_payments_dataset.csv')
reviews = pd.read_csv('https://raw.githubusercontent.com/edunb01/dotfiles/master/olist_order_reviews_dataset.csv')
orders = pd.read_csv('https://raw.githubusercontent.com/edunb01/dotfiles/master/olist_orders_dataset.csv')
products = pd.read_csv('https://raw.githubusercontent.com/edunb01/dotfiles/master/olist_products_dataset.csv')
sellers = pd.read_csv('https://raw.githubusercontent.com/edunb01/dotfiles/master/olist_sellers_dataset.csv')

In [7]:
df = itens.merge(payments)
df = df.merge(sellers)
df = df.merge(products)
df = df.merge(reviews)
df = df.merge(orders)
df = df.merge(costumers)
df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,credit_card,2,...,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.90,17.96,1,boleto,1,...,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00,0fb8e3eab2d3e79d92bb3fffbb97f188,75800,jatai,GO
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.90,18.33,1,credit_card,2,...,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00,3419052c8c6b45daf79c1e426f9e9bcb,30720,belo horizonte,MG
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.90,16.17,1,credit_card,3,...,delivered,2017-08-01 18:38:42,2017-08-01 18:55:08,2017-08-02 19:07:36,2017-08-09 21:26:33,2017-08-25 00:00:00,e7c828d22c0682c1565252deefbe334d,83070,sao jose dos pinhais,PR
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.90,13.29,1,credit_card,4,...,delivered,2017-08-10 21:48:40,2017-08-10 22:05:11,2017-08-11 19:43:07,2017-08-24 20:04:21,2017-09-01 00:00:00,0bb98ba72dcc08e95f9d8cc434e9a2cc,36400,conselheiro lafaiete,MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,fd607d0a02cb276bc764a15f80f0423f,2,02ad78835ec3f72e750d1dfa6a7e11b3,2a73cba571d90c694b7caca072ccf6ce,2018-08-02 02:24:15,171.39,19.35,1,boleto,1,...,delivered,2018-07-26 09:13:04,2018-07-27 02:24:15,2018-08-07 09:28:00,2018-08-16 17:12:37,2018-08-16 00:00:00,c13401002a5f9b60befb4c720de50be0,41820,salvador,BA
117325,fdaf98feac227eb978d8f33f36e0231d,1,f739e9151702508b18f796c53005e5e9,d1aa1ec0839dcab73a6161130eb1f94a,2017-04-27 05:10:28,119.90,16.14,1,boleto,1,...,delivered,2017-04-19 10:20:51,2017-04-21 05:10:28,2017-05-04 15:06:24,2017-05-24 10:52:43,2017-05-22 00:00:00,3d50a44231c2a153219cef76ee3e445d,22793,rio de janeiro,RJ
117326,fe68b52db13993f58175fa589125d345,1,f4135cbdece8245560f7be179533797a,3fefda3299e6dfaea3466ef346a3571a,2017-08-17 02:55:27,209.00,16.21,1,boleto,1,...,delivered,2017-08-11 10:15:22,2017-08-12 02:55:27,2017-08-14 22:03:19,2017-08-17 17:47:55,2017-09-04 00:00:00,52a953541861bbb4b79b39df24e00243,13485,limeira,SP
117327,ff701a7c869ad21de22a6994237c8a00,1,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.90,14.44,1,credit_card,1,...,delivered,2018-04-12 19:47:40,2018-04-12 20:10:33,2018-04-18 00:41:29,2018-04-20 17:48:39,2018-04-30 00:00:00,ddb2249e0316d365ceae561c0f011bce,12280,cacapava,SP
117328,ff701a7c869ad21de22a6994237c8a00,2,5ff4076c0f01eeba4f728c9e3fa2653c,3e35a8bb43569389d3cebef0ce820f69,2018-04-18 20:10:33,27.90,14.44,1,credit_card,1,...,delivered,2018-04-12 19:47:40,2018-04-12 20:10:33,2018-04-18 00:41:29,2018-04-20 17:48:39,2018-04-30 00:00:00,ddb2249e0316d365ceae561c0f011bce,12280,cacapava,SP

# Responda as seguintes perguntas:

## Existe cliente com múltiplas compras? Qual cliente gastou mais? Qual cliente fez mais pedidos?

In [36]:
df['customer_unique_id'].value_counts().head(5)

customer_unique_id
9a736b248f67d166d2fbb006bcb877c3    75
6fbc7cdadbb522125f4b27ae9dee4060    38
f9ae226291893fda10af7965268fb7f6    35
8af7ac63b2efbcbd88e5b11505e8098a    29
569aa12b73b5f7edeaa6f2a01603e381    26
Name: count, dtype: int64

In [39]:
df[['customer_unique_id','payment_value']].groupby('customer_unique_id').agg({'payment_value': 'sum'}).sort_values(by='payment_value', ascending=False).head(5)

                                  payment_value
customer_unique_id
0a0a92112bd4c708ca5fde585afaa872      109312.64
c402f431464c72e27330a67f7b94d4fb       44048.00
4007669dec559734d6f53e029e360987       36489.24
ef8d54b3797ea4db1d63f0ced6a906e9       30186.00
763c8b1c9c68a0229c42c9fc6f662b93       29099.52

Existem múltiplos clientes com mais de uma compra; O cliente que mais gastou, gastou $109.312,64; O cliente que mais fez compras, fez 75 compras.

## Existem produtos entregues com atraso? Qual a proporção de atrasos?

In [45]:
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])
df['order_estimated_delivery_date'] = pd.to_datetime(df['order_estimated_delivery_date'])
(df['order_delivered_customer_date'] < df['order_estimated_delivery_date']).value_counts(normalize=True)

True     0.903425
False    0.096575
Name: proportion, dtype: float64

Considerando a data estimada pela data de recebimento, podemos ver que pouco mais de 90% dos pedidos foram entregues até a data limite estimada.

A proporção de atrasos, portanto, é da ordem de 9,66% aproximadamente.

## Qual a data do pedido mais antigo? Qual a data do pedido mais recente?

In [50]:
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_purchase_timestamp'].sort_values().head(1)

14941   2016-09-04 21:15:19
Name: order_purchase_timestamp, dtype: datetime64[ns]

In [51]:
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])
df['order_purchase_timestamp'].sort_values(ascending=False).head(1)

68150   2018-09-03 09:06:57
Name: order_purchase_timestamp, dtype: datetime64[ns]

O pedido mais antigo foi feito em 2016-09-04 21:15:19

O pedido mais recente foi feito em 2018-09-03 09:06:57

## É possível avaliar um pedido antes de receber?

In [52]:
df['order_delivered_customer_date'] = pd.to_datetime(df['order_delivered_customer_date'])
df['review_creation_date'] = pd.to_datetime(df['review_creation_date'])
(df['order_delivered_customer_date'] < df['review_creation_date']).value_counts(normalize=True)

True     0.898081
False    0.101919
Name: proportion, dtype: float64

Aparentemente, não só é possível, como mais de 10% dos pedidos são avaliados antes de serem recebidos!
Faz sentido até, visto que alguns podem atrasar ou até jamais chegarem...

## Qual a proporção de pedidos com avaliações numéricas?

In [53]:
df['review_score'].isna().value_counts(normalize=True)

review_score
False    1.0
Name: proportion, dtype: float64

Aparentemente, 100%!

## Qual a proporção de pedidos com avaliações textuais?

In [54]:
df['review_comment_message'].isna().value_counts(normalize=True)

review_comment_message
True     0.576584
False    0.423416
Name: proportion, dtype: float64

Em torno de 57,66% dos pedidos tiveram alguma avaliação textual.

## Existe algum dia da semana com mais pedidos realizados?

In [63]:
df['order_purchase_timestamp'].dt.day_name(locale='pt_BR').value_counts().head(7)

order_purchase_timestamp
Terça-feira      19052
Segunda-feira    19036
Quarta-feira     18299
Quinta-feira     17568
Sexta-feira      16761
Domingo          13933
Sábado           12680
Name: count, dtype: int64

Terça-feira é o dia com maior número de pedidos. Sábado é o dia com menor número de pedidos.