# Atividade 1

## Leitura de dados

In [2]:
import pandas as pd
aneel = pd.read_csv("https://raw.githubusercontent.com/edunb01/dotfiles/master/TarifaFornecimentoResidencial.csv",
encoding="ISO8859_9")

In [3]:
coluna = list(aneel.columns[1:10])

descricao = ["A empresa é permissionária ou concessionária?",
"Nome/sigla da empresa",
"Região de localização da empresa",
"Valor da taxa de uso e distribuição da rede",
"Valor da tarifa de energia",
"Valor total de uso da rede e tarifa de energia",
"Valor da energia com tarifa branca em horário de ponta",
"Valor da energia com tarifa branca em horário intermediario",
"Valor da energia com tarifa branca em horário de fora de ponta"]

metadados = list(zip(coluna,descricao))

for i in range(len(metadados)):
    print("_____________________")
    print("Coluna: " + metadados[i][0] + " Descrição: " + metadados[i][1] )

_____________________
Coluna: nomConcessao Descrição: A empresa é permissionária ou concessionária?
_____________________
Coluna: SigDistribuidora Descrição: Nome/sigla da empresa
_____________________
Coluna: SigRegiao Descrição: Região de localização da empresa
_____________________
Coluna: VlrTUSDConvencional Descrição: Valor da taxa de uso e distribuição da rede
_____________________
Coluna: VlrTEConvencional Descrição: Valor da tarifa de energia
_____________________
Coluna: VlrTotaTRFConvencional Descrição: Valor total de uso da rede e tarifa de energia
_____________________
Coluna: VlrTRFBrancaPonta Descrição: Valor da energia com tarifa branca em horário de ponta
_____________________
Coluna: VlrTRFBrancaIntermediaria Descrição: Valor da energia com tarifa branca em horário intermediario
_____________________
Coluna: VlrTRFBrancaForaPonta Descrição: Valor da energia com tarifa branca em horário de fora de ponta

• Quantas empresas são conessionárias e quantas são permissionárias?

In [4]:
aneel["nomConcessao"].value_counts()

nomConcessao
Concessionária    53
Permissionária    51
Name: count, dtype: int64

• Quantas empresas estão localizadas em cada região do país?

In [5]:
aneel["SigRegiao"].value_counts()

SigRegiao
S     50
SE    30
NE    12
N      7
CO     5
Name: count, dtype: int64

• Usando as estruturas de controle vistas nas aulas passadas calcule a média de VlrTotaTRFConvencional para cada uma das regiões do país.

In [6]:
for i in aneel["SigRegiao"].unique():
    print("Região: " + i + " Média: " + str(aneel[aneel["SigRegiao"] == i]["VlrTotaTRFConvencional"].mean()))

Região: N  Média: 0.6224657142857143
Região: S  Média: 0.5179841999999999
Região: NE Média: 0.5810016666666666
Região: CO Média: 0.58617
Região: SE Média: 0.6178373333333335

• Consulte a documentação/internet sobre o método DataFrame.groupby para repetir o item
anterior usando esse método.

In [7]:
aneel.groupby("SigRegiao")["VlrTotaTRFConvencional"].mean()

SigRegiao
CO    0.586170
N     0.622466
NE    0.581002
S     0.517984
SE    0.617837
Name: VlrTotaTRFConvencional, dtype: float64

• Para cada empresa calcule a diferença entre VlrTotaTRFConvencional e VlrTRFBrancaPonta.

In [8]:
aneel["Diferenca"] = aneel["VlrTotaTRFConvencional"] - aneel["VlrTRFBrancaPonta"]
aneel["Diferenca"].head()

0   -0.54898
1   -0.62029
2   -0.20559
3   -0.66854
4   -0.58834
Name: Diferenca, dtype: float64

• Considerando as diferenças obtidas no item anterior calcule as médias de diferenças separadamente para empresas concessionárias e permissionárias.

In [9]:
aneel.groupby("nomConcessao")["Diferenca"].mean()

nomConcessao
Concessionária   -0.552770
Permissionária   -0.490482
Name: Diferenca, dtype: float64

• Construa uma função que receba como argumentos: um número inteiro “n” e o nome de uma das colunas numéricas. O retorno da função deve ser um dataframe com os nomes das empresas e os valores da coluna escolhida para as “n” empresas com menores preços para a coluna escolhida.

In [10]:
def menores_precos(n, ncol):
    return aneel.sort_values(ncol)[["SigDistribuidora", ncol]].head(n)

In [21]:
# Sol. do professor:
def pegamenores(n,coluna,tabela):
    tabela.sort_values(by=coluna,inplace=True)
    return tabela.head(n)[['SigDistribuidora',coluna]]

In [23]:
menores_precos(2, "VlrTotaTRFConvencional")

   SigDistribuidora  VlrTotaTRFConvencional
2      CASTRO - DIS                 0.33101
57          Coopera                 0.33807

In [22]:
pegamenores(2,"VlrTotaTRFConvencional",aneel)

   SigDistribuidora  VlrTotaTRFConvencional
2      CASTRO - DIS                 0.33101
57          Coopera                 0.33807

In [14]:
menores_precos(4, "VlrTUSDConvencional")

   SigDistribuidora  VlrTUSDConvencional
2      CASTRO - DIS              0.16845
9            CEGERO              0.17147
55          CODESAM              0.19047
60        Cooperluz              0.19120

In [15]:
menores_precos(3, "VlrTEConvencional")

   SigDistribuidora  VlrTEConvencional
50          Certrel            0.06067
39         Cermoful            0.10584
27            Cerej            0.10906